<launch>
    <!-- 启动Realsense相机节点 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <!-- 你可以根据需要添加参数，如启用点云 -->
        <arg name="enable_pointcloud" value="true"/>
        <arg name="align_depth" value="true"/>
    </include>

    <!-- 启动自定义的image_vis节点 -->
    <node name="image_vis" pkg="realsense_camera" type="image_vis.py" output="screen">
        <!-- 添加必要的参数或重新配置参数 -->
    </node>

    <!-- 启动rqt_reconfigure节点，用于动态配置 -->
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen">
    </node>
</launch>
